-let HTMLoptions = htmlWebpackPlugin.options;

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

block title
	title #{HTMLoptions.filenameRoot.charAt(0).toUpperCase() + HTMLoptions.filenameRoot.slice(1)} page

if HTMLoptions.env["NODE_ENV"] === 'production'
	meta(property="og:image" content="/img/header-img.png")
	meta(name="theme-color" content=HTMLoptions.env["COLOR_THEME"])
	meta(name="description" content="Instagram profile public data and to track profile posts' and stories' metadata in order to filter them by hashtags and mentions.")
	meta(name="keywords" content="Hypelitix, instagram, track instagram profile, instagram data, analize")

	link(rel="icon" type="image/svg+xml" sizes="any" href="img/favicon/favicon.svg")
	link(rel="icon" type="image/png" sizes="120x120" href='img/favicon/favicon-120x120.png')
	link(rel="icon" type="image/png" sizes="24x24" href='img/favicon/favicon-24x24.png')

	if HTMLoptions.favicon
		link(rel="apple-touch-icon" sizes="180x180" href='img/apple-touch-icon.png')
		link(rel="icon" type="image/png" sizes="32x32" href='img/favicon-32x32.png')
		link(rel="icon" type="image/png" sizes="16x16" href='img/favicon-16x16.png')
		link(rel="manifest" href='img/site.webmanifest')
		link(rel="mask-icon" href='img/safari-pinned-tab.svg' color=HTMLoptions.env["COLOR_THEME"])