include ../components/header
include ../components/footer
include ../components/dropdown

doctype html
head
	include parts/head
	include parts/styles
body

	include ../components/telegram

	div.body-content
		block header
			+header()

		main
			block content

	block footer
		+footer()

	include ../components/modals
	include parts/scripts