include ../components/header
include ../components/footer
include ../components/dropdown

doctype html
html(lang="en")
	head
		include parts/head
		include parts/styles
	body

		include ../components/telegram

		div.body-content
			block header
				+header('is-active')

			main
				block content

		block footer
			+footer()

		include ../components/modals
		include parts/scripts