include ../components/header
include ../components/footer
include ../components/dropdown

doctype html

block inner-page-name
html(lang="en" data-i18n-page=inner_page_name data-i18n-default="en")
	head
		include parts/head
		include parts/styles
	body
		include ../components/telegram

		div.body-content
			block header
				+header('is-active')

			main
				block content

		block footer
			+footer()

		include ../components/modals
		include parts/scripts