section.intro
    .container.intro__container
        .intro__content
            h2 Automated analize<br/>Instagram Data
            p Instagram profile public data and to track profile posts' and stories' metadata in order to filter them by hashtags and mentions.
            .intro__btn.btn.btn-primary(data-toggle="modal" data-target="#modal-access") Get Access

        img.intro__image( src=require('../../img/header-img.png').default )
        img.intro__image.intro__image_min( src=require('../../img/header-img-xs.png').default )