section.pluses
    .container
        .section-title
            h2(data-i18n="home-pluses-title") Why choose us
            span.line

        .pluses__items
            .row
                .col-12.col-md-4.pluses__item
                    i.icon-video-player-2
                        span.path1
                        span.path2
                        span.path3
                    p(data-i18n="home-pluses-1") A unique service on the market for downloading and caching stories, including all media content.

                .col-12.col-md-4.pluses__item
                    i.icon-cloud-vision-api
                        span.path1
                        span.path2
                        span.path3
                        span.path4
                    p <span data-i18n="home-pluses-2-1">Ready support for</span> <a href="#" class="link">Google AI Vision API</a> <span data-i18n="home-pluses-2-2">for OCR from images.</span>

                .col-12.col-md-4.pluses__item
                    i.icon-save-money
                        span.path1
                        span.path2
                        span.path3
                        span.path4
                    p(data-i18n="home-pluses-3") Individual approach to clients. We are ready to work with clients' tasks and adapt our services to them.