section.statistics
    .container
        .row
            .col-4
                .statistics__item
                    .statistics__item-count 1267
                    .statistics__item-name(data-i18n="home-statistic-1-title") Cached Stories
                    .statistics__item-method(data-i18n="home-statistic-time") (Every hour)
                    span.line

            .col-4
                .statistics__item.statistics__item_large
                    .statistics__item-count 295k
                    .statistics__item-name(data-i18n="home-statistic-2-title") Tracked Profiles
                    span.line

            .col-4
                .statistics__item
                    .statistics__item-count 898
                    .statistics__item-name(data-i18n="home-statistic-3-title") Cached Posts
                    .statistics__item-method(data-i18n="home-statistic-time") (Every hour)
                    span.line