section.tariff-plan
    img.tariff-plan__dot( src=require('../../img/dots-3.png').default )
    .container
        .tariff-plan__wrapper
            .tariff-plan__content
                h2 Calculate Your Own Tariff Plan
                p Flexible Billing System. Individual approach to clients. We are ready to work with clients' tasks and adapt our services to them.
                .tariff-plan__btn.btn.btn-primary Automate your Analytics

            div.tariff-plan__calculator.calculator#calculator
                | {{ activePlans }}
                .calculator__wrapper
                    .calculator__progress
                        svg.calculator__progress-line
                            circle( cx="218" cy="218" r="218" :style="circleStyle" )

                        span.calculator__progress-round(
                            :style="roundStyle"
                            @mousedown="roundMouseDown"
                            ) <span></span>

                    .calculator__dots
                        .calculator__dot( v-for="(plan, index) in plans" :class="{'is-active': plan.active}" @click="changePlan(index)" @dragstart="() => false" )
                            span( @mouseover="toPlan(index)" @dragstart="() => false" )

                .calculator__btn.tariff-plan__btn.btn.btn-primary Automate your Analytics