section.demonstration
    .container
        .demonstration__title.section-title.primary-color.align-left
            h2 How It works
            span

        .demonstration__content
            section.demonstration__section
                .demonstration__section-title
                    h3 Add Instagram Accounts

                .demonstration__section-description
                    p Upload the list of accounts using the administrative panel or via the corresponding API method.

                    ul
                        li Upload by using .xls
                        li Support API method

                .demonstration__section-icon
                    img(src="#")