section.statistics
    .container
        .row
            .col-4
                .statistics__item
                    .statistics__item-count 1267
                    .statistics__item-name Cached Stories
                    .statistics__item-method (Every hour)
                    span.line

            .col-4
                .statistics__item.statistics__item_large
                    .statistics__item-count 295k
                    .statistics__item-name Tracked Profiles
                    span.line

            .col-4
                .statistics__item
                    .statistics__item-count 898
                    .statistics__item-name Cached Posts
                    .statistics__item-method (Every hour)
                    span.line