section.intro
    .container.intro__container
        .intro__content
            h2.h1 Automated analize<br/>Instagram Data
            p Instagram profile public data and to track profile posts' and stories' metadata in order to filter them by hashtags and mentions.
            button.intro__btn.btn.btn-primary(data-toggle="modal" data-target="#modal-access") Get Access

        picture
            source(srcset=require('../../img/header-img.png').default media="(min-width: 768px)")
            img.intro__image(src=require('../../img/header-img-xs.png').default alt="")
