section.services
    .container
        .section-title.align-center
            h2 Why you need Hypelitix
            span.line

        .items
            .row
                .col-md-6.col-lg-3.items__item
                    i.icon-search
                        span.path1
                        span.path2
                        span.path3
                    p Find bloggers and influencers who will reach your target audience.

                .col-md-6.col-lg-3.items__item
                    i.icon-profile
                        span.path1
                        span.path2
                        span.path3
                    p Find out which bloggers will yield results and who will not bring sales or subscribers.

                .col-md-6.col-lg-3.items__item
                    i.icon-alert
                        span.path1
                        span.path2
                        span.path3
                    p Don’t waste your budget on inflated blogger accounts with fake followers.

                .col-md-6.col-lg-3.items__item
                    i.icon-histogram
                        span.path1
                        span.path2
                        span.path3
                    p Analyse the quality and growth of instagram followers.