section.tariff-plan
    img.tariff-plan__dot( src=require('../../img/dots-3.png').default )
    .container
        .tariff-plan__wrapper
            .tariff-plan__content
                h2 Calculate Your Own Tariff Plan
                p Flexible Billing System. Individual approach to clients. We are ready to work with clients' tasks and adapt our services to them.
                .tariff-plan__btn.btn.btn-primary(data-toggle="modal" data-target="#modal-access") Automate your Analytics

            div.tariff-plan__calculator.calculator#calculator
                | {{ activePlans }}
                .calculator__wrapper
                    .calculator__progress
                        svg.calculator__progress-line
                            circle( cx="217" cy="217" r="217" :style="circleStyle" )
                            circle( cx="150" cy="150" r="150" :style="circleStyle" )

                        span.calculator__progress-round(
                            :style="roundStyle"
                            @mousedown="roundMouseDown"
                            ) <span></span>

                    .calculator__dots
                        .calculator__dot( v-for="(plan, index) in plans" :class="{'is-active': plan.active}" @dragstart="() => false" )
                            span( @click="changePlan(index)" @mouseover="toPlan(index)" @dragstart="() => false" )

                    .calculator__content( :class="{'is-no-select': moving}" )
                        span.calculator__content-price.h2 {{ activePlan.price }}
                        span (for 1 acc per month)
                        span.calculator__content-account up to <span>{{ activePlan.accounts }}</span> accounts

                .calculator__btn.tariff-plan__btn.btn.btn-primary(data-toggle="modal" data-target="#modal-access") Automate your Analytics