section.demonstration
    .container
        .demonstration__title.section-title.primary-color.align-left
            h2 How It works
            span

        .demonstration__content

            section.demonstration__section
                .demonstration__section-title
                    span 01.
                    h3 Add Instagram Accounts

                .demonstration__section-icon
                    img(src="#")

                .demonstration__section-description
                    p Upload the list of accounts using the administrative panel or via the corresponding API method.

                    ul.list
                        li Upload by using .xls
                        li Support API method

            .demonstration__spliter

            section.demonstration__section.demonstration__section_revert
                .demonstration__section-title
                    span 02.
                    h3 Track User’s Stories, Posts

                .demonstration__section-icon
                    img(src="#")

                .demonstration__section-description
                    p Track profile posts' and stories' metadata in order to filter them by hashtags and mentions. <a href="#" class="link">Get Access</a>

                    ul.list
                        li Instant notification via Webhocks
                        li Caching data for 14 days

            .demonstration__spliter

            section.demonstration__section
                .demonstration__section-title
                    span 03.
                    h3 Get your Result!

                .demonstration__section-icon
                    img(src="#")

                .demonstration__section-description
                    p Upload the list of accounts using the administrative panel or via the corresponding API method.

                    ul.list
                        li Upload by using .xls
                        li Support API method

                    .btn.btn-primary Get Access