section.pluses
    .container
        .section-title.align-center
            h2 Why choose us
            span

        .pluses__items
            .row
                .col-12.col-md-4.pluses__item
                    img( src="#" )
                    p A unique service on the market for downloading and caching stories, including all media content.

                .col-12.col-md-4.pluses__item
                    img( src="#" )
                    p Ready support for <a href="#" class="link">Google AI Vision API</a> for OCR from images.

                .col-12.col-md-4.pluses__item
                    img( src="#" )
                    p Individual approach to clients. We are ready to work with clients' tasks and adapt our services to them.