section.tariff-plan
    .container
        .tariff-plan__wrapper
            .tariff-plan__content
                h2 Calculate Your Own Tariff Plan
                p Flexible Billing System. Individual approach to clients. We are ready to work with clients' tasks and adapt our services to them.
                .tariff-plan__btn.btn.btn-primary Automate your Analytics

            div.tariff-plan__calculator.calculator
                .calculator__wrapper
                .calculator__btn.tariff-plan__btn.btn.btn-primary Automate your Analytics