section.intro
    .container
        .intro__content
            h2 Automated analize Instagram Data
            p Instagram profile public data and to track profile posts' and stories' metadata in order to filter them by hashtags and mentions.
            .intro__btn.btn.btn-primary Get Access