.intro
  background: url("../img/header-bg.webp") no-repeat
  background-size: 110% 100%
  overflow: hidden

  &__container
    position: relative
    padding-top: 260px
    padding-bottom: 220px

  &__image
    position: absolute
    max-width: 610px
    right: 85px
    bottom: -25px
    z-index: 1
    width: auto
    height: auto

  &__content
    position: relative
    z-index: 2

  p
    margin-top: 25px
    color: #2B2B2B
    font-size: min(calc(17px + 2 * ((100vw - 375px) / 1545)), 18px)
    max-width: 655px

  &__btn
    margin-top: 80px
    padding-left: 36px
    padding-right: 36px

@media screen and (max-width: 1600px)
  .intro
    &__container
      padding-top: 210px
      padding-bottom: 180px

@media screen and (max-width: 1439px)
  .intro
    p
      max-width: 560px

    &__image
      right: 20px
      max-width: 520px

@media screen and (max-width: 991px)
  .intro
    p
      max-width: 440px

    &__image
      right: -105px
      max-width: 455px

@media screen and (max-width: 767px)
  .intro
    background: url("../img/header-bg-xs_sm.webp") no-repeat
    background-size: 100% 100%

    &__container
      padding-top: 180px
      padding-bottom: 110px

    p
      max-width: 450px

    &__btn
      margin-top: 55px

    &__image
      max-width: 350px
      right: -190px

@media screen and (max-width: 500px)
  .intro
    h2
      font-size: min(calc(30px + 31*(100vw - 375px)/1545),60px)

    p
      max-width: 310px

@media screen and (max-width: 420px)
  .intro
    p
      max-width: 310px
