.statistics
  margin-top: 170px

  &__item
    margin: 0 auto
    max-width: 205px
    text-align: center

    &-count
      font-size: 40px
      margin-top: 17px
      font-family: 'TTCommons Bold', sans-serif
      font-weight: 700

    &-name,
    &-method
      line-height: 24px

    &-name
      margin-top: 17px

    &-method
      color: #777777
      font-size: 18px

    > span
      margin-top: 40px
      max-width: 100%
      height: 5px

    &_large
      .statistics__item-count
        font-size: 50px

      .statistics__item-name
        margin-top: 14px

@media screen and (max-width: 1439px)
  .statistics
    margin-top: 140px

@media screen and (max-width: 767px)
  .statistics
    display: none