.pluses
  margin-top: 150px
  margin-bottom: 150px

  &__items
    margin-top: 90px

  &__item
    max-width: 420px
    text-align: center
    margin: 0 auto

    i
      font-size: 48px

    p
      margin-top: 30px

@media screen and (max-width: 1439px)
  .pluses
    margin-top: 140px
    margin-bottom: 120px

@media screen and (max-width: 991px)
  .pluses
    margin-top: 110px

@media screen and (max-width: 767px)
  .pluses
    &__items
      margin-top: 90px

    &__item
      margin: 25px auto

      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0