.demonstration
  position: relative
  margin-top: 150px

  > .container
    position: relative

  &__dot
    top: 0
    right: 16%

  &__title
    width: unset
    margin-bottom: 60px
    display: inline-block

    > h2
      color: $color-primary

    > span
      max-width: 100%
      margin-top: 15px

  &__spliter
    min-height: 1px
    margin-top: 120px
    margin-bottom: 120px
    font-size: 16px
    display: flex
    align-items: center
    justify-content: center

    i
      padding: 0 17px

    &:after,
    &:before
      content: ''
      position: relative
      display: block
      width: 230px
      height: 1px
      background: #FBEDCF

    &_first
      margin-top: 150px
      margin-bottom: 100px

  &__section
    display: grid
    grid-template-columns: 49%
    grid-column-gap: 100px
    padding: 0 80px

    &-title
      display: flex
      align-items: flex-end
      grid-column: 1
      grid-row: 1

      > h3
        margin-bottom: 17px
        margin-left: 14px
        font-size: calc(28px + 13 * ((100vw - 375px) / 1545))

      > span
        font-size: 80px
        font-weight: bold
        opacity: .05
        user-select: none

    &-icon
      grid-column: 2
      grid-row: 1 / 3

    &-description
      padding-top: 30px
      grid-column: 1
      grid-row: 2

      .btn
        padding-left: 60px
        padding-right: 60px

      .btn,
      .list
        margin-top: 50px

    &_revert
      grid-template-columns: 42%

      .demonstration__section
        &-title
          grid-column: 2
          grid-row: 1

        &-icon
          grid-column: 1
          grid-row: 1 / 3

        &-description
          grid-column: 2
          grid-row: 2

@media screen and (max-width: 1439px)

  .demonstration
    margin-top: 110px
    overflow: hidden

    &__dot
      right: 13%

    &__spliter
      &_first
        margin-top: 120px

    &__title
      margin-bottom: 100px

    &__section
      grid-column-gap: 70px
      grid-template-columns: 44%
      padding: 0

      &-title
        display: flex
        flex-direction: column
        align-items: unset
        justify-content: flex-end

        > h3
          margin: 0

      &-description
        padding-top: 40px

      &_revert
        grid-template-columns: 50%

@media screen and (max-width: 768px)
  .demonstration
    &__dot
      right: -30%

    &__title
      margin-bottom: 90px

    &__spliter
      display: none

    &__section
      display: block

      &:not(:first-child)
        margin-top: 140px

      &-title
        position: relative
        padding: 25px 0
        margin-bottom: 15px

        > span
          position: absolute
          top: 50%
          transform: translateY(-50%)

      &-description
        padding-top: 20px

        .btn,
        .list
          margin-top: 30px

@media screen and (max-width: 576px)
  .demonstration
    &__section
      &:not(:first-child)
        margin-top: 100px
