.tariff-plan
  position: relative
  background: #FDFBF5
  margin-top: 150px
  padding: 85px 150px

  &__dot
    bottom: -10px
    left: 40%

  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between

  &__content
    max-width: 587px

  h2
    font-size: min(calc(32px + 13 * ((100vw - 375px) / 1545)), 42px)
    font-weight: 600
    font-family: 'TTCommons DemiBold', sans-serif

  p
    margin-top: 35px
    color: #2B2B2B

  &__btn
    margin-top: 55px

    &.calculator__btn
      display: none

@media screen and (max-width: 1439px)
  .tariff-plan
    padding: 85px 0
    margin-top: 140px

@media screen and (max-width: 991px)
  .tariff-plan
    padding-top: 110px
    padding-bottom: 45px

    &__content
      max-width: unset

    &__wrapper
      flex-direction: column
      align-items: unset

    p
      margin-top: 25px

    &__btn
      display: none

      &.calculator__btn
        display: inline-block

    &__calculator
      margin: 70px auto 0

@media screen and (max-width: 991px)
  .tariff-plan__dot
    top: -20px
    right: 0
    left: unset
    bottom: unset

@media screen and (max-width: 578px)
  .tariff-plan
    padding-top: 80px

    p
      margin-top: 30px
