.header
  padding: 40px 0

  &__logo
    font-size: 34px
    > span
      color: $color-primary

  &__lang
    margin-left: 100px

  &__column
    display: flex
    align-items: center

  &__nav
    margin: 0 auto

    ul
      display: flex

    li
      margin: 0 40px

      a
        font-weight: 500

      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0