mixin footer()
    footer.footer
        .container
            .row
                .col-12.col-lg-3.footer__logo-col
                    .footer__logo.logo <a href="/">Hype<span>litix</span></a>
                    p.footer__copyright © 2020 Hypelitix. All rights reserved.

                .col-12.col-md-8.col-lg-5.footer__navigation-col
                    nav.footer__navigation
                        ul
                            li <a href="/about.html">About Us</a>
                            li <a href="/inner.html">Terms of Service</a>
                            li <a href="/prices.html">Prices</a>
                            li <a href="/inner.html">Privacy Policy</a>
                            li <a href="/contacts.html">Contact Us</a>
                            li <a href="#">Public Offer Agreement</a>
                            li <a href="#">API Docs</a>
                            li <a href="/inner.html">Cookie Policy</a>

                .col-12.col-md-4.col-lg-3.offset-lg-1
                    .footer__title Get in Touch
                    .footer__contacts
                        a( href="mailto: contact@hypelitix.com" ) contact@hypelitix.com
                        a.footer__contacts-tel( href="tel: +380931539090" ) +380 93 153 90 90
                        .footer__contacts-media.social-media
                            a(href="#").icon-contact-telegram
                            a(href="#").icon-contact-whatsapp
                            a(href="#").icon-contact-viber