mixin footer()
    footer.footer
        .container
            .row
                .col-12.col-lg-3.footer__logo-col
                    a(href="/").logo.footer__logo
                        svg
                            use(xlink:href=require('../img/sprite/sprite.svg').default + '#logo')

                    p.footer__copyright © 2020 Hypelitix. <span data-i18n="footer-copyright">All rights reserved.</span>

                .col-12.col-md-8.col-lg-5.footer__navigation-col
                    nav.footer__navigation
                        ul
                            li <a href="/about_en.html" data-i18n="nav-about" data-i18n-link="links:about">About Us</a>
                            li <a href="/terms-of-service_en.html" data-i18n="nav-terms" data-i18n-link="links:terms">Terms of Service</a>
                            li <a href="/prices.html" data-i18n="nav-prices">Prices</a>
                            li <a href="/privacy-policy_en.html" data-i18n="nav-privacy-policy" data-i18n-link="links:privacy-policy">Privacy Policy</a>
                            li <a href="/contacts.html" data-i18n="nav-contacts" >Contact Us</a>
                            li <a href="/public-offer-agreement_en.html" data-i18n="nav-offer" data-i18n-link="links:offer">Public Offer Agreement</a>
                            li <a href="/api-documentation_en.html" data-i18n="nav-api" data-i18n-link="links:api-docs">API Docs</a>
                            li <a href="/cookie-policy_en.html" data-i18n="nav-cookie" data-i18n-link="links:cookie">Cookie Policy</a>

                .col-12.col-md-4.col-lg-3.offset-lg-1
                    .footer__title(data-i18n="footer-link") Get in Touch
                    .footer__contacts
                        a( href="mailto: contact@hypelitix.com" ) contact@hypelitix.com
                        a.footer__contacts-tel( href="tel: +380931539090" ) +380 93 153 90 90
                        .footer__contacts-media.social-media
                            a(href="#").icon-contact-telegram
                            a(href="#").icon-contact-whatsapp
                            a(href="#").icon-contact-viber