mixin header(theme)
    header.header( class=theme === undefined ? '' : theme )
        .container
            .row
                .col-9.col-md-5.col-lg-3.header__column
                    h1.logo Hype<span>litix</span>
                    .header__lang
                        .dropdown.dropdown-lang
                            .btn.dropdown-btn(data-toggle='dropdown' class='btn-secondary')
                                .dropdown-content
                                    img( src="#" )

                                svg.dropdown-ico(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' width="17" height="17" stroke='currentColor' stroke-width='2')
                                    polyline(points='6 9 12 15 18 9')

                            .dropdown-menu
                                a.dropdown-item(href="#")
                                    img( src="#" )

                .col-3.col-md-2.col-lg-6.header__column
                    .header__menu
                        span
                        span
                        span

                    nav.header__nav
                        ul
                            li
                                a(href="#") About Us

                            li
                                a(href="#") Prices

                            li
                                a(href="#") Contact Us

                            li
                                a(href="#") Log In

                .col-md-5.col-lg-3.header__column
                    a(href="#")
                        i
                    a(href="#")
                        i
                    a(href="#")
                        i