mixin header(theme)
    header.header( class=theme )
        .container
            .header__wrapper
                .row
                    .col-7.col-md-5.col-lg-3.header__column
                        h1.logo Hype<span>litix</span>
                        .header__lang
                            include ../components/lang


                    .col-5.col-md-2.col-lg-6.header__column
                        .header__menu#header-menu-btn
                            span
                            span
                            span

                        nav.header__nav
                            ul
                                li <a href="/about.html">About Us</a>
                                li <a href="/prices.html">Prices</a>
                                li <a href="/contacts.html">Contact Us</a>
                                li <a href="#">Log In</a>

                    .col-md-5.col-lg-3.header__column
                        .header__contacts
                            a(href="#")
                                i.icon-contact-telegram
                            a(href="#")
                                i.icon-contact-whatsapp
                            a(href="#")
                                i.icon-contact-viber

    .menu
        .menu__wrapper
            .menu__content
                .menu__header
                    .menu__lang
                        include ../components/lang

                    a.menu__login(href="#") Log In

                .menu__body
                    ul.list
                        li.is-active <a href="/about.html">About Us</a>
                        li <a href="/prices.html">Prices</a>
                        li <a href="/contacts.html">Contact Us</a>

            .menu__footer
                .menu__email <a href="mailto: contact@hypelitix.com">contact@hypelitix.com</a>
                .menu__contacts
                    a(href="#")
                        i.icon-contact-telegram
                    a(href="#")
                        i.icon-contact-whatsapp
                    a(href="#")
                        i.icon-contact-viber
