.dropdown.dropdown-lang
    .btn.dropdown-btn(data-toggle='dropdown' class='btn-secondary')
        .dropdown-front
            svg.dropdown-lang__ico
                use( xlink:href="#lang-en" )

        svg.dropdown-ico(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' width="17" height="17" stroke='currentColor' stroke-width='2')
            polyline(points='6 9 12 15 18 9')

    .dropdown-menu
        a.dropdown-item(href="#" data-lng="ru" hreflang="ru")
            svg.dropdown-lang__ico
                use( xlink:href="#lang-ru" )
            span Русский
