#modal-access.modal
    .modal__wrapper

        .modal__close( data-dismiss="modal" )
            i.icon-close

        .modal__tab( data-name="form" ).is-active
            h2.modal__title Access Request
            form
                .input-group.modal__input
                    .input__label Name
                    input.is-modal-input( type="text" name="fullname" placeholder="Full Name" required)
                    .input__error
                        i !
                        | Wrong name

                .input-group.modal__input
                    .input__label Email
                    input.is-modal-input( type="email" name="email" placeholder="Email")
                    .input__error
                        i !
                        | Wrong Email address

                button( type="submit" ).btn.btn-primary.modal__btn.modal__btn-send Send

        .modal__tab( data-name="success" )
            h3.modal__subtitle Request has been Sent!
            p Thank you for interesting our company. <br> Our manager will contact you soon!
            a(href="#").btn.btn-primary.modal__btn.align-center.modal__btn-success(data-dismiss="modal") Back Home

.modal-custom-backdrop
