.list,
.inner-page__content ul
  > li
    padding-left: 21px
    margin: 20px 0
    position: relative

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

    &::before
      content: "\2022"
      font-size: 23px
      color: $color-primary
      font-weight: bold
      display: inline-block
      width: 1em
      margin-left: -1em