[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud-vision-api .path1:before {
  content: "\e912";
  color: rgb(198, 225, 242);
}
.icon-cloud-vision-api .path2:before {
  content: "\e913";
  margin-left: -1.1455078125em;
  color: rgb(72, 49, 242);
}
.icon-cloud-vision-api .path3:before {
  content: "\e914";
  margin-left: -1.1455078125em;
  color: rgb(255, 92, 243);
}
.icon-cloud-vision-api .path4:before {
  content: "\e915";
  margin-left: -1.1455078125em;
  color: rgb(72, 49, 242);
}
.icon-alert .path1:before {
  content: "\e900";
  color: rgb(206, 225, 242);
}
.icon-alert .path2:before {
  content: "\e901";
  margin-left: -0.9794921875em;
  color: rgb(72, 49, 242);
}
.icon-alert .path3:before {
  content: "\e902";
  margin-left: -0.9794921875em;
  color: rgb(255, 92, 240);
}
.icon-alert-2 .path1:before {
  content: "\e903";
  color: rgb(251, 237, 207);
}
.icon-alert-2 .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-close:before {
  content: "\e905";
}
.icon-click .path1:before {
  content: "\e906";
  color: rgb(251, 237, 207);
}
.icon-click .path2:before {
  content: "\e907";
  margin-left: -1.0986328125em;
  color: rgb(243, 243, 241);
}
.icon-click .path3:before {
  content: "\e908";
  margin-left: -1.0986328125em;
  color: rgb(253, 245, 228);
}
.icon-click .path4:before {
  content: "\e909";
  margin-left: -1.0986328125em;
  color: rgb(218, 213, 255);
}
.icon-click .path5:before {
  content: "\e90a";
  margin-left: -1.0986328125em;
  color: rgb(0, 0, 0);
}
.icon-click .path6:before {
  content: "\e90b";
  margin-left: -1.0986328125em;
  color: rgb(0, 0, 0);
}
.icon-click .path7:before {
  content: "\e90c";
  margin-left: -1.0986328125em;
  color: rgb(0, 0, 0);
}
.icon-click .path8:before {
  content: "\e90d";
  margin-left: -1.0986328125em;
  color: rgb(0, 0, 0);
}
.icon-click .path9:before {
  content: "\e90e";
  margin-left: -1.0986328125em;
  color: rgb(72, 49, 242);
}
.icon-click .path10:before {
  content: "\e90f";
  margin-left: -1.0986328125em;
  color: rgb(0, 0, 0);
}
.icon-click .path11:before {
  content: "\e910";
  margin-left: -1.0986328125em;
  color: rgb(0, 0, 0);
}
.icon-click .path12:before {
  content: "\e911";
  margin-left: -1.0986328125em;
  color: rgb(0, 0, 0);
}
.icon-histogram .path1:before {
  content: "\e916";
  color: rgb(206, 225, 242);
}
.icon-histogram .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(72, 49, 242);
}
.icon-histogram .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 92, 240);
}
.icon-profile .path1:before {
  content: "\e919";
  color: rgb(198, 225, 242);
}
.icon-profile .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(72, 49, 242);
}
.icon-profile .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 92, 244);
}
.icon-save-money .path1:before {
  content: "\e91c";
  color: rgb(206, 225, 242);
}
.icon-save-money .path2:before {
  content: "\e91d";
  margin-left: -0.875em;
  color: rgb(72, 49, 242);
}
.icon-save-money .path3:before {
  content: "\e91e";
  margin-left: -0.875em;
  color: rgb(255, 92, 243);
}
.icon-save-money .path4:before {
  content: "\e91f";
  margin-left: -0.875em;
  color: rgb(72, 49, 242);
}
.icon-search .path1:before {
  content: "\e920";
  color: rgb(198, 225, 242);
}
.icon-search .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(72, 49, 242);
}
.icon-search .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 92, 243);
}
.icon-video-player-2 .path1:before {
  content: "\e923";
  color: rgb(206, 225, 242);
}
.icon-video-player-2 .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(72, 49, 242);
}
.icon-video-player-2 .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 92, 243);
}
.icon-contact-telegram:before {
  content: "\e926";
}
.icon-contact-viber:before {
  content: "\e927";
}
.icon-contact-whatsapp:before {
  content: "\e928";
}