extends layout/inner

block title
    title About Us - Hypelitix

block content
    section.about
        .container
            img( src=require('../img/dots-3.png').default alt="").about__dot.decor-dot.dot-2
            .about__content
                .title.about__title
                    h1.h2(data-i18n="nav-about") About Us
                    span.line

                .about__image
                    img.normal( src=require('../img/about-us-img.png').default alt="" )
                    img.xs( src=require('../img/about-us-img-xs.png').default alt="")

                .about__description
                    p(data-i18n="about-desc-1")
                        | Hypelitix was created by a developer team mainly working on social networks promotion and analytics.
                        | It's a paid web-service which provides publicly available Instagram profiles data in an automated
                        | and generalized way making it easier to analyze data for it's clients.
                        | Specifically, at the moment the service allows it's clients to obtain Instagram profile
                        | public data and to track profile posts' and stories' metadata in order to filter them by hashtags and mentions.

                    p
                        | Our clients are digital marketing agencies who run advertising campaigns on
                        | Instagram using Instagram bloggers for publishing ads. In order to efficiently manage and run the campaigns,
                        | our clients need to track their bloggers' Instagram profiles to analyse bloggers "bio", posts' and stories'
                        | metadata and to make sure that links, "mentions" or hashtags which represent a particular brand are presented
                        | on the published media content or in the blogger's "bio".

                    p
                        | To get access to Hypelitix features user requires Tokens - internal virtual currency.
                        | Tokens can be bought separately and are designed to use only within the Hypelitix service.