extends layout/inner

block title
    title API Документация - Hypelitix

block inner-page-name
    - var inner_page_name = 'links:api-docs'

block content
    section.inner-page.main-section-page
        .container
            .inner-page__content
                h1 API Документация
                p Ваш текст