extends layout/inner

block title
    title Cookie Policy - Hypelitix

block inner-page-name
  - var inner_page_name = 'links:cookie'

block content
    section.inner-page.main-section-page
        .container
            .inner-page__content
                h1 Cookie Policy
                p Your text
