extends layout/default

block content
	include sections/home-intro
	include sections/home-services
	include sections/home-demonstration
	include sections/home-statistics
	include sections/home-tariff-plan
	include sections/home-pluses