extends layout/inner

block title
    title Политика конфиденциальности - Hypelitix

block inner-page-name
  - var inner_page_name = 'links:privacy-policy'

block content
    section.inner-page.main-section-page
        .container
            .inner-page__content
                h1 Политика конфиденциальности
                p Ваш текст