extends layout/inner

block title
    title Public Offer Agreement - Hypelitix

block inner-page-name
  - var inner_page_name = 'links:offer'

block content
    section.inner-page.main-section-page
        .container
            .inner-page__content
                h1 Public Offer Agreement
                p Your text