extends layout/inner

block title
    title Условия использования - Hypelitix

block inner-page-name
  - var inner_page_name = 'links:terms'

block content
    section.inner-page.main-section-page
        .container
            .inner-page__content
                h1 Условия использования
                p Ваш текст
