extends layout/inner

block title
    title Terms of Service - Hypelitix

block inner-page-name
  - var inner_page_name = 'links:terms'

block content
    section.inner-page.main-section-page
        .container
            .inner-page__content
                h1 Terms of Service
                p Your text
