.calculator
  display: flex
  flex-direction: column
  align-items: center

  &__wrapper
    @include flex-full-center

    position: relative
    width: 434px
    height: 434px
    border-radius: 50%
    background: #ffffff

  &__content
    position: relative
    display: inline-flex
    flex-direction: column
    align-self: center
    text-align: center
    font-size: 20px
    z-index: 5

    &-price
      font-size: 50px
      font-family: 'TTCommons Bold', sans-serif
      font-weight: bold
      margin-bottom: 10px

    &-account
      font-family: 'TTCommons Bold', sans-serif
      margin-top: 50px

      span
        color: $color-primary
        font-size: 30px

    &.is-no-select
      user-select: none

  &__progress
    position: absolute
    width: 100%
    height: 100%

    &-line
      position: absolute
      top: -5px
      left: -5px
      transform: rotate(-90deg)
      width: calc(100% + 12px)
      height: calc(100% + 10px)

      circle
        transform: translate(5px, 5px)
        fill: none

        transition: .3s
        stroke-width: 10
        stroke: #4831F2
        stroke-dasharray: 1382
        stroke-dashoffset: 1382
        stroke-linecap: round

        &:nth-child(2)
          display: none
          stroke-dasharray: 941
          stroke-dashoffset: 941

    &-round
      -webkit-tap-highlight-color: rgba(#000, 0)
      transition: .3s
      position: absolute
      width: calc(50% + 11px)
      height: 24px
      transform-origin: 100% 0
      top: 50%
      left: -10px
      z-index: 3
      cursor: pointer

      > span
        display: block
        width: 24px
        height: 24px
        border-radius: 50%
        background: #fff
        border: 6px solid #4831F2

  &__dots
    transform: rotate(90deg)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &__dot
    width: calc(50% + 3px)
    height: 6px
    transform-origin: 100% 0
    transform: rotate(0deg) translateY(-50%)
    position: absolute
    top: 50%
    left: -2px

    &.is-active
      > span::before
        background: #ffffff

    &.is-current > span
      cursor: unset

    > span
      -webkit-tap-highlight-color: rgba(#000, 0)
      padding: 40px
      margin-left: -40px
      margin-top: -40px
      display: block
      width: 6px
      height: 6px
      cursor: pointer

      &::before
        transition: .3s
        display: block
        content: ''
        width: 6px
        height: 6px
        background: #000
        border-radius: 50%

  &__btn
    margin-top: 70px

@media screen and (max-width: 767px)
  .calculator
    &__content
      font-size: 16px

      &-price
        font-size: 40px

      &-account
        margin-top: 40px
        font-size: 18px

        span
          font-size: 28px

@media screen and (max-width: 567px)
  .calculator

    &__progress-line
      width: calc(100% + 10px)

      circle
        &:nth-child(1)
          display: none
        &:nth-child(2)
          display: block

    &__wrapper
      width: 300px
      height: 300px
      max-width: 100%

    &__dot
      left: -3px

      > span
        padding: 20px
        margin-left: -20px
        margin-top: -20px