.fixed-telegram
  position: absolute
  right: 10px
  bottom: 10px
  background: $color-primary
  padding: 6px
  z-index: 10
  font-size: 17px
  min-width: 217px

  display: flex
  align-items: center
  color: #fff
  text-decoration: none !important

  line-height: 24px
  font-weight: 500
  border-radius: 2px

  &:hover
    color: #fff !important

  > .icon-contact-telegram
    margin: 10px 20px 10px 0
    font-size: 19px

  &__ico
    fill: #fff
    margin-right: 17px

  &__point
    align-self: flex-start
    width: 9px
    height: 9px
    border-radius: 50%
    background: #00D835
    margin-right: 13px

  &__container
    position: fixed
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 10

  > span
    margin-top: 2px


@media screen and (max-width: 767px)
  .fixed-telegram
    right: 20px
    bottom: 20px

@media screen and (max-width: 480px)
  .fixed-telegram
    right: 15px
    bottom: 20px